<div class="comment">
  <nz-avatar nzSize="default" nzIcon="user"></nz-avatar>
  <div class="content">
    <div class="header">
      <span class="username">张三</span>
      <app-rate class="rate"></app-rate>
      <nz-tag [nzColor]="'red'">热评</nz-tag>
    </div>
    <p>We supply a series of design principles, practical patterns and high quality design resources (Sketch and Axure),
      to help people create their product prototypes beautifully and efficiently. </p>
    <div class="action">
      <!--这里还需要进行样式优化-->
      <button nz-button nzType="text" (click)="like()"><i nz-icon nzType="like"></i> {{likes}}</button>
      <button nz-button nzType="text" (click)="dislike()"><i nz-icon nzType="dislike"></i> {{dislikes}} </button>
    </div>
  </div>

</div>
