
<!--udate-->
<div class="site-page-header-ghost-wrapper">
  <nz-page-header nzBackIcon [nzGhost]="false">
    <nz-page-header-title>用户列表</nz-page-header-title>
    <nz-page-header-subtitle>用户详情</nz-page-header-subtitle>
    <nz-page-header-extra>
      <button nz-button  [routerLink]="'/user/update/'+user.id">更新</button>
      <button nz-button nzType="primary">禁用</button>
    </nz-page-header-extra>
    <nz-page-header-content>
      <nz-descriptions nzSize="small" [nzColumn]="3">
        <nz-descriptions-item nzTitle="名字" [nzSpan]="1">{{user.name}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="账户" [nzSpan]="1">{{user.account}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="性别" [nzSpan]="1">{{user.sex}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="手机号" [nzSpan]="1">{{user.telephone}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="出生日期" [nzSpan]="1">{{user.birth}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="头像" [nzSpan]="2">
          <nz-avatar [nzSize]="64" nzIcon="user" [nzSrc]="'http://localhost:8800/'+avatar"></nz-avatar>
        </nz-descriptions-item>
      </nz-descriptions>
    </nz-page-header-content>
  </nz-page-header>
</div>
