<p>Banner 预览设置</p>
<nz-carousel [nzEffect]="effect">
  <div nz-carousel-content *ngFor="let banner of enableBanner">
    <img
      [src]="this.sanitizer.bypassSecurityTrustResourceUrl(banner.path)"
      alt=""
    />
  </div>
</nz-carousel>

<nz-divider></nz-divider>
<button nz-button [nzType]="'primary'" (click)="showModal()">
  <span>添加</span>
</button>
<nz-divider></nz-divider>

<nz-table #basicTable [nzData]="dataOfBarnner">
  <thead>
    <tr>
      <th>编码</th>
      <th>描述</th>
      <th>状态</th>
      <th>创建时间</th>
      <th>更新时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.id }}</td>
      <td>{{ data.description }}</td>
      <td>{{ data.enable ? "已启用" : "已经关闭" }}</td>
      <td>{{ data.createTime }}</td>
      <td>{{ data.updateTime }}</td>
      <td>
        <a>详情</a>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-modal
  [nzOkDisabled]="fileList.length == 0"
  [nzOkLoading]="uploading"
  (nzOnOk)="handleUpload()"
  [nzOkText]="uploading ? '上传中' : '点击上传'"
  [(nzVisible)]="isVisible"
  nzTitle="添加Banner"
  (nzOnCancel)="handleCancel()"
>
  <ng-container *nzModalContent>
    <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload">
      <button nz-button><i nz-icon nzType="upload"></i>选择文件</button>
    </nz-upload>
    <br />
    <form nz-form [formGroup]="validateForm" class="login-form">
      <nz-form-item>
        <nz-form-control nzErrorTip="请输入描述">
          <nz-input-group nzPrefixIcon="user">
            <input
              type="text"
              nz-input
              formControlName="description"
              placeholder="描述"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
