<nz-layout>
  <nz-sider nzCollapsible nzWidth="200px">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="用户" nzIcon="user">
        <ul>
          <li nz-menu-item [routerLink]="['user/show']">查看用户</li>
          <li nz-menu-item [routerLink]="['user/add']">添加用户</li>
          <!--          <li nz-menu-item [routerLink]="['user']">查看用户</li>-->
        </ul>
      </li>

      <li nz-submenu nzTitle="课程" nzIcon="container">
        <ul>
          <li nz-menu-item [routerLink]="['course']">查看课程</li>
          <li nz-menu-item [routerLink]="['course/add']">添加课程</li>
        </ul>
      </li>

      <li nz-submenu nzTitle="笔记" nzIcon="snippets">
        <ul>
          <li nz-menu-item [routerLink]="['note']">查看笔记</li>
          <li nz-menu-item [routerLink]="['note/add']">添加笔记</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="评论" nzIcon="message">
        <ul>
          <li nz-menu-item [routerLink]="['comment']">查看评论</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="设置" nzIcon="setting">
        <ul>
          <li nz-menu-item [routerLink]="['setting']">Banner设置</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header></nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer> &copy; 2020 Power by Angular</nz-footer>
  </nz-layout>
</nz-layout>
