<nz-content class="message-content">

  <div style="width: 100%; padding: 24px" *ngIf="isSubmitted === 0">
    <div nz-row>
      <div nz-col nzSpan="18">
        <input nz-input placeholder="请输入笔记标题" [(ngModel)]="value" />
      </div>
      <div nz-col nzSpan="6">
        <nz-select [ngModel]="courseId" class="select" nzPlaceHolder="选择课程">
          <nz-option
            *ngFor="let course of courses"
            [nzValue]="course.id"
            [nzLabel]="course.name"
          ></nz-option>
        </nz-select>
      </div>
    </div>

    <div style="height: 20px; width: 100%"></div>
    <app-editor
      (soonOutput)="receive($event)"
      style="margin-top: 20px"
    ></app-editor>
    <button nz-button [nzType]="'primary'" (click)="showModal()">
      <span>提交</span>
    </button>
    <nz-modal
      [(nzVisible)]="isVisible"
      nzTitle="添加笔记"
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="handleOk()"
    >
      <ng-container>

        <p>确定提交吗</p>
      </ng-container>
    </nz-modal>
  </div>
  <div style="width: 100%;padding: 24px" *ngIf="isSubmitted === 1">
    <nz-result
      nzStatus="success"
      nzTitle="添加课程笔记成功"
      nzSubTitle="感谢您对在线教育做出的贡献，让其他小伙伴来了解更多吧~"
    >
      <div nz-result-extra></div>
    </nz-result>
  </div>
</nz-content>
